

#tip {
  position: fixed;
  display:none;
  background:#222;
  color:gold;
  border:1px solid #a95;
  padding:3px;
  padding-bottom:4px;
  font-family:Verdana, Arial, sans-serif;
  font-size:11px;
  z-index:501;
  max-width:280px;
  cursor: default;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
#tip .tipInnerContainer {
  position:relative;
}
#tip b, #tip i {
  display:block;
  text-align:center;
}

#testui{
    background-image: url("/game-assets/items/miecz05_pol.gif");
    width: 100px;
    height: 100px;
}

#tip b{ color: #cc7; }
#tip b.unique { color:#6C6; }
#tip b.heroic { color:#2090FE; }
#tip b.legendary { color:#FA9A20; }
#tip i.idesc { 
  color:#FFC;
  margin:3px 0;
  text-align:left;
}
#tip i.rarity {
  color:#FFC;
  font-style: italic;
}

#tip.t_npc {
  text-align:center;
  background:#0d3d01;
  border-color:#5b7d00;
}
#tip.t_npc B, #tip.t_other B {
  color:white;
}

#tip.t_item {
  background: #3b0510;
  border-color: #8f541f;
  color:white;
}

/*
#tip i.unique { color: #6C6; }
#tip i.heroic { color: #2090FE; }
#tip i.legendary { color: #FA9A20; }


.tip-divider {
  border-bottom: 1px solid #555;
  margin: 5px 0;
}

.stat-dmg { color: #ff9 !important; }
.stat-heal { color: #4caf50 !important; }
.stat-bonus { color: #6C6 !important; }
.stat-power { color: #888 !important; }
.stat-gold { color: #ffd700 !important; }
*/